# Logs and databases #
######################
**/logs
*.log*
.sql
*.sqlite3

##############
# Swap files #
##############
*.swp

###################
# PyCharm Related #
###################
.ideamisc
.xml*
.iml*
.pyc**/venv

###################
# Django Realated #
###################
**/__pycache__
